[defaults]

# Ruta al inventario
inventory = inventory/hosts.yml

# Usuario sudo por defecto en los servidores Ubuntu
sudo_user = <usuario_sudo>

# Límite de hosts que se procesan en paralelo
forks = 5